<!DOCTYPE html>

<body>
  <div
    style="width: 100%; height: 100%; position: relative; background: linear-gradient(0deg, #566F94 0%, #566F94 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%)">
    <img
      style="linear-gradient(-90deg, red, blue); width: 1900px; height: 1197px; left: 0px; top: 0px; position: absolute; opacity: 0.30"
      src="https://media.bizj.us/view/img/12082192/gettyimages-1281127501.jpg" />
    <div
      style="width: 840px; height: 242px; left: 561px; top: 577px; position: absolute; text-align: center; color: rgb(105, 103, 103); font-size: 85px; font-family: Abril Fatface; font-weight: 400; word-wrap: break-word">
      Empowering minds,<br />transforming lives.</div>
    <div style="width: 758px; height: 86px; left: 596px; top: 857px; position: absolute">
      <div
        style="width: 323px; height: 86px; left: 0px; top: 0px; position: absolute; background: rgba(201.88, 235.88, 255, 0.72); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid">
      </div>


      <a href="/affirmations" class="nav-link"
        style="width: 323px; height: 86px; left: 0px; top: 0px; position: absolute;">
        <div
          style="left: 21px; top: 29px; position: absolute; background: rgba(201, 235, 255, 0.72); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid">
        </div>
        Affirmations Page
      </a>
      <div
        style="width: 323px; height: 86px; left: 435px; top: 0px; position: absolute; background: rgba(253.94, 129.08, 129.08, 0.72); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid">
      </div>
    </div>
    <a href="/rants" class="nav-link" <div
      style="left: 1107px; top: 879px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Poly; font-weight: 400; word-wrap: break-word">
      Rants Page
  </div>
  </a>
  <a href="/stories" class="nav-link"
    style="left: 1204px; top: 49px; position: absolute; text-align: center; color: rgb(107, 135, 141); font-size: 35px; font-family: Poly; font-weight: 400; word-wrap: break-word">Stories</a>
  <a href="/affirmations" class="nav-link"
    style="left: 1424px; top: 49px; position: absolute; text-align: center; color: rgb(107, 135, 141); font-size: 35px; font-family: Poly; font-weight: 400; word-wrap: break-word">Affirmations</a>
  <a href="/rants" class="nav-link"
    style="left: 1736px; top: 49px; position: absolute; text-align: center; color: rgb(107, 135, 141); font-size: 35px; font-family: Poly; font-weight: 400; word-wrap: break-word">Rants</a>
  <style>
    .nav-link {
      text-align: center;
      font-size: 35px;
      font-family: Poly;
      font-weight: 400;
      word-wrap: break-word;
      cursor: pointer;
      text-decoration: none;
      color: rgb(107, 135, 141);
      transition: text-decoration 0.3s ease;
      /* Adding transition for smooth animation */
    }

    .nav-link:hover {
      text-decoration: underline;
    }
  </style>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div
    style="width: 100%; height: 100%; position: relative; background: linear-gradient(0deg, #566F94 0%, #566F94 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%)">
    <img
      style="width: 1920px; height: 1280px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px black solid"
      src="https://images.unsplash.com/photo-1519203854555-b06fc26f8888?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2FsbSUyMHBlcnNvbnxlbnwwfHwwfHx8MA%3D%3D" />



    <div
      style="left: 340px; top: 250px; position: absolute; color: white; font-size: 70px; font-family: Abril Fatface; font-weight: 400; word-wrap: break-word">
      Welcome to <br />Anonymous.org</div>

    <div
      style="width: 718px; left: 994px; top: 167px; position: absolute; text-align: right; color: white; font-size: 40px; font-family: Bree Serif; font-weight: 400; word-wrap: break-word">
      <br><br>Discover a unique platform that caters to the mental well-being of both young and old. Dive into our daily
      affirmations designed to uplift the spirits of the old, or unleash the bottled up emotions of the youngsters on
      our rants page.
    </div>
    <div
      style="width: 1920px; height: 518px; left: 0px; top: 562px; position: absolute; background: rgba(65, 63, 85, 0.9);">
    </div>

    <div
      style="width: 1284px; height: 148px; left: 318px; top: 722px; position: absolute; text-align: center; color: white; font-size: 70px; font-family: Abril Fatface; font-weight: 400; word-wrap: break-word">
      “In a world full of chaos, find solace in<br />the calm”</div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div style="width: 1920px; height: 1818px; position: relative; background; background:rgb(86, 111, 148,0.9);">

    <img style="width: 590px; height: 470px; left: 1030px; top: 70px; position: absolute; border-radius: 20px"
      src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2016_01/921806/teenagers-teen-hanging-stock-today-160104-tease.jpg" />
    <div
      style="left: 272px; top: 645px; position: absolute; text-align: center; color: white; font-size: 60px; font-family: Abril Fatface; font-weight: 400; word-wrap: break-word">
      Elderly Affirmatives</div>
    <div
      style="left: 1138px; top: 645px; position: absolute; text-align: center; color: white; font-size: 60px; font-family: Abril Fatface; font-weight: 400; word-wrap: break-word">
      Youthful Rants</div>
    <div
      style="width: 542px; left: 272px; top: 768px; position: absolute; color: white; font-size: 40px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">
      A safe place to uplift and inspire the elder generation daily! </div>
    <div
      style="width: 606px; left: 1030px; top: 768px; position: absolute; text-align: right; color: white; font-size: 40px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">
      Teens! Find your voice and let it all out on this anonymous platform.</div>
    <img style="width: 590px; height: 472px; left: 266px; top: 68px; position: absolute; border-radius: 20px"
      src="https://compote.slate.com/images/66168178-3547-4917-8ea9-12938af61a04.jpg" />
    <div
      style="width: 594px; height: 472px; left: 1028px; top: 68px; position: absolute;border-radius: 20px; background: rgba(67.85, 164.64, 206.13, 0.40)">
    </div>
    <div
      style="width: 590px; height: 472px; left: 266px; top: 68px;border-radius: 20px; position: absolute; background: rgba(74.07, 135.22, 253.94, 0.40)">
    </div>
    <div
      style="left: 192px; top: 1013px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Common Questions</div>
    <div
      style="left: 299px; top: 1149px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Is it free to join??</div>
    <div
      style="width: 286px; left: 262px; top: 1262px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Absolutely! Our mission is to provide mental health support to EVERYONE!</div>
    <div
      style="width: 324px; left: 795px; top: 1262px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Your privacy is our top priority, anonymous.org uses high-grade encryption</div>
    <div
      style="width: 350px; left: 1375px; top: 1262px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Yes, of course! Our team of dedicated moderators ensure a safe and positive environment</div>
    <div
      style="left: 1407px; top: 1138px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Are there moderators?</div>
    <div
      style="left: 796px; top: 1138px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Jockey One; font-weight: 400; word-wrap: break-word">
      Is my information secure?</div>


    <div
      style="left: 857px; top: 1713px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Koulen; font-weight: 400; word-wrap: break-word">
      anonymous.org , 2023</div>
  </div>

</body>

</html>